* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* width: 100vh; */
  background-color: #e17564;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 10px;
  color: #09122c;
  /* border: 2px solid #e17564; */
}

.input-segment {
  height: 250px;
  display: flex;
  justify-content: center;
}

.input-area {
  height: 100%;
  width: 300px;
  background-color: white;
  /* border: 2px solid #872341; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #09122c;
}

#task-input {
  display: block;
  border: 2px solid #e17564;
  border-radius: 4px;
  width: 250px;
  height: 150px;
}

button {
  margin-top: 10px;
  width: 80px;
  height: 30px;
  background: #872341;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #872341;
}

button:hover {
  background: white;
  color: #872341;
}

button:active {
  width: 78px;
  height: 28px;
}

.table-segment {
  display: flex;
  justify-content: center;
}

table {
  width: 90%;
  border: 2px solid rgb(100, 100, 100);
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

th {
  color: white;
  background-color: #09122c;
  padding: 10px;
  /* border: 1px solid white; */
}
